header{
    background-color: var(--background-terciary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 140px;
}

.logo img {
    height: 80px;
    width: auto;
}

header label img {
    width: 32px;
    height: auto;
}

.img-mobile {
    display: block;
}

#menu {
    display: none;
}

.navigation-menu {
    display: none;
}

/* Mostra quando o checkbox está marcado */
#menu:checked ~ .navigation-menu {
    display: block;
}

.list-links {
    list-style: none;
}

@media (min-width: 768px) {
    .logo {
        width: 100%;
        max-width: 140px;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 180px;
    }
}