header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
}

.img-mobile {
    width: 90px;
    height: auto;
}

.list-links {
    list-style: none;
}

@media (min-width: 768px) {
    .logo {
        width: 100%;
        max-width: 140px;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 180px;
    }
}