header{
    background-color: black;
}

.img-mobile {
    width: 90px;
    height: auto;
}

@media (min-width: 768px) {
    .logo {
        width: 140px;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 180px;
    }
}